In [5]:
#Your task is to create a Python script that analyzes the records to calculate each of the following:


#The total number of months included in the dataset.


#The net total amount of Profit/Losses over the entire period.


#The average of the changes in Profit/Losses over the entire period.


#The greatest increase in profits (date and amount) over the entire period.


#The greatest decrease in losses (date and amount) over the entire period.


#Your resulting analysis should look similar to the following:Financial Analysis
#----------------------------
#Total Months: 86
#Total: $38382578
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [1]:
import pandas as pd
df = pd.read_csv("budget_data.csv")

In [2]:
df.info

<bound method DataFrame.info of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [3]:
#The total number of months included in the dataset.

len(df.index)

86

In [5]:
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [10]:
#The net total amount of Profit/Losses over the entire period.
df.sum(axis = 0, skipna = True)

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [21]:
#The average of the changes in Profit/Losses over the entire period.
df["pct_change"] = df["Profit/Losses"].pct_change()
df.head()

       Date  Profit/Losses  shifted_column  difference  pct_change
0  Jan-2010         867884             NaN         NaN         NaN
1  Feb-2010         984655        867884.0    116771.0    0.134547
2  Mar-2010         322013        984655.0    662642.0   -0.672969
3  Apr-2010         -69417        322013.0    391430.0   -1.215572
4  May-2010         310503        -69417.0    379920.0   -5.473011

In [22]:
df["pct_change"].mean()

-0.28671102859649694

In [43]:
min_value = df["pct_change"].min()
print(min_value)

-10.704752778365462

In [34]:
max_value = df["pct_change"].max()
print (max_value)

9.651835674090133

In [51]:
min_date = df.min()[0]
max_date = df.max()[0]
print(min_date)
print(max_date)
average_change = df["pct_change"].mean()
print(average_change)

Apr-2010
Sep-2016
-0.28671102859649694

In [48]:
average = round(average_change, 2)

In [55]:
print (average)

-0.29

In [63]:
total_months = 86
total_profit = 38382578
average_change = -0.29

In [77]:
print("Financial Analysis") 
print("----------------------------")
print(f"Total Months:",total_months)
print(f"Total:",total_profit)
print(f"Average Change:", average_change)
print(f"Greatest Increase in Profits:", max_date,  max_value)
print("Greatest Decrea in Profits:", min_date,  min_value)

Financial Analysis
----------------------------
Total Months: 86
Total: 38382578
Average Change: -0.29
Greatest Increase in Profits: Sep-2016 9.651835674090133
Greatest Decrea in Profits: Apr-2010 -10.704752778365462